@page "/config"
@inject IJSRuntime jsRuntime

<div class="config page" id ="tab config">
        <h2>Configuration</h2>
        <p>
            Check 'Post to the channel about this tab.'
            Teams will create a link and send it as a chat message. 
            Click it to start an Accessible Screen Sharing Session.
        </p>
        <!-- This is where you will add tab configuration options the user 
            can choose when the tab is added to your team/group chat. -->
</div>

@code {
    TeamsFx teamsfx;

	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        teamsfx = await TeamsFx.CreateTeamsFx(jsRuntime);
        await teamsfx.LoadTabConfigJS();  
    }

}
